@import url("https://fonts.googleapis.com/css?family=Ibarra+Real+Nova|Open+Sans|Quicksand|Raleway|Source+Sans+Pro&display=swap");


.hovernow:hover {
  box-shadow: 0 5px 15px rgba(36, 36, 36, 0.8);
}

#shadow{
  box-shadow: 5px 5px 5px rgba(51, 51, 51, 0.8);
}
body {
    font-family: Quicksand;
    background-color: #5291dd;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

* {
    margin: 0;
    padding: 0;
}
